.homePage {
  height: 100vh;
  width: 100vw;
}
.wrapper {
  height: 80%;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.buttonArea {
  height: 20%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: start;
}

.container {
  margin: 0 50px;
}

.container h2 {
  text-align: center;
}
.formControl label,
.formControl input {
  margin: 10px;
  padding: 10px;
}
